@model ShelfDetailsViewModel

@{
    ViewData["Title"] = "Usuń półkę";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Czy na pewno chesz usunąć tę półkę?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aisle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aisle)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć</a>
    </form>
</div>
