@using Sklepix.Data.Entities
@model ShelfCreateViewModel

@{
    ViewData["Title"] = "Edytuj półkę";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<AisleEntity> aisles = Model.Aisles;
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" autofocus />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AisleId" class="control-label"></label>
                <select asp-for="AisleId" class="form-select">
                    @if(aisles.Count == 0)
                    {
                        <option>Nie znaleziono żadnych alejek</option>
                    }
                    @foreach(AisleEntity aisle in aisles)
                    {
                        <option value="@aisle.Id">@aisle.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
