@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj w systemie Sklepix!</h1>
    <p>Strona stworzona podczas praktyk zawodowych lipiec 2023, Filip Madzia</p>
    <img width="50%" src="~/favicon.svg" />
</div>
