@using Sklepix.Models.Aisles;
@model AisleDetailsViewModel

@{
	ViewData["Title"] = "Usuń alejkę";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
	<a class="btn btn-outline-secondary" asp-action="Index"><img class="icon" src="~/icons/arrow-left.svg" /></a>
	Czy na pewno chcesz usunąć tę alejkę?
</h1>

<hr />

<div>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
	</dl>

	<span class="text-lg-start text-danger" asp-validation-for="Name"></span>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Usuń" class="btn btn-danger" />
	</form>
</div>
